{% extends 'template.html' %}
{% block body %}
<div id="main">
  <h1>TEXT CATEGORIZER USING RANDOM FOREST & LOGISTIC REGRESION</h1>
</div>

<hr>

<div class="bgpic" >
  <img src="../static/images/AUClg1.png" 
  alt="" 
  style=" 
  filter: blur(2.5px);
  -webkit-filter: blur(2.5px);
  height: 90%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -37px;
  ">
</div>
<a href="/index.html">
  <div class="text-block"
  style="position: absolute;
  bottom: 300px;
  right: 400px;
  background-color: rgb(184, 199, 204);
  color: rgb(54, 178, 235);
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  opacity: 0.65;" >
      <h2>CLICK HERE TO CATEGORISE YOUR TEXT!</h2>
  </div>
</a>
</div>
{% endblock %}